<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-hibernate-1:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_hibernate_1_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-hibernate-1/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-hibernate-1" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="mysql-connector-java-5.1.35-bin" />
          <element id="library" level="project" name="Spring MVC-4.3.9.RELEASE" />
          <element id="library" level="project" name="Hibernate 5.2.10-5.2.10" />
          <element id="library" level="project" name="Spring-4.3.9.RELEASE" />
          <element id="library" level="project" name="jstl:jstl:1.2" />
        </element>
      </element>
    </root>
  </artifact>
</component>